grant codeBase "file:/d:/projects/03-pew-test/bin" 
{
    permission java.security.AllPermission;
};
grant codeBase "file:/d:/projects/00-emit-oal/bin" 
{
    permission java.security.AllPermission;
};
grant codeBase "file:/d:/projects/13-emit-as-storage-management/bin" 
{
    permission java.security.AllPermission;
};
grant codeBase "file:/d:/projects/10-enc-app-common-api/bin" 
{
    permission java.security.AllPermission;
};

file:/d:/projects/03-pew-test/bin/ 
file:/d:/projects/00-emit-oal/bin/ 
file:/d:/projects/13-emit-as-storage-management/bin/ 
file:/d:/projects/10-enc-app-common-api/bin/
	  